---
import PhpIconCarousel from '../icons/PHPIconCarousel.astro';
import JavaScriptIcon from '../icons/JavaScriptIcon.astro';
import HtmlIcon from '../icons/HTMLIcon.astro';
import CssIcon from '../icons/CSSIcon.astro';
import SqlIcon from '../icons/SQLIcon.astro';
import GitIcon from '../icons/GitIcon.astro';
import ReactIcon from '../icons/ReactIcon.astro';
import TailwindIcon from '../icons/TailwindIcon.astro';
import VisualStudio from '../icons/VisualStudio.astro';
---

<div class="w-full inline-flex flex-nowrap overflow-hidden mb-12 [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]">
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-5 sm:[&_li]:mx-8 animate-infinite-scroll">
        <li>
            <PhpIconCarousel class="w-20 h-20"/>
        </li>
        <li>
            <HtmlIcon class="w-14 h-14"/>
        </li>
        <li>
            <CssIcon class="w-14 h-14"/>
        </li>
        <li>
            <JavaScriptIcon class="w-14 h-14"/>
        </li>
        <li>
            <SqlIcon class="w-14 h-14"/>
        </li>
        <li>
            <GitIcon class="w-14 h-14"/>
        </li>
        <li>
            <ReactIcon class="w-14 h-14"/>
        </li>
        <li>
            <TailwindIcon class="w-14 h-14"/>
        </li>
        <li>
            <VisualStudio class="w-14 h-14"/>
        </li>
    </ul>
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-5 sm:[&_li]:mx-8 animate-infinite-scroll" aria-hidden="true">
        <li>
            <PhpIconCarousel class="w-20 h-20"/>
        </li>
        <li>
            <HtmlIcon class="w-14 h-14"/>
        </li>
        <li>
            <CssIcon class="w-14 h-14"/>
        </li>
        <li>
            <JavaScriptIcon class="w-14 h-14"/>
        </li>
        <li>
            <SqlIcon class="w-14 h-14"/>
        </li>
        <li>
            <GitIcon class="w-14 h-14"/>
        </li>
        <li>
            <ReactIcon class="w-14 h-14"/>
        </li>
        <li>
            <TailwindIcon class="w-14 h-14"/>
        </li>
        <li>
            <VisualStudio class="w-14 h-14"/>
        </li>
    </ul>                             
</div>