<footer class="flex py-5 justify-between text-sm text-slate-400">
    <span>© 2024 Mọi Bản Quyền Thuộc Về Huỳnh Vĩnh Tiến</span>
    <div>
        <nav class="flex justify-center items-center gap-x-4">
            <a class="hover:sm:text-secondary hover:sm:font-bold" href="#">Back to top</a>
        </nav>
    </div>
</footer>