<section id="projects" class="mb-10 section">
    <h2 class="text-gray-200 font-medium text-2xl text-left md:text-center mb-8 tracking-[.5rem]">PROJECTS</h2>
    <div class="flex flex-wrap justify-between">
        <slot />
    </div>
</section>